.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
.mainnav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.mainnav > button {
  margin: 0 5px;
  cursor: pointer;
}

.menu {
  width: 100%;
  display: none;
}
.menu.active {
  display: block;
}
.recentwrapper {
  width: 100%;
  margin-top: 30px;
  padding-left: 80px;
}
.recentword {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.recentword div:first-child {
  margin-bottom: 10px;
}
.wordbutton {
  display: flex;
  flex-direction: row;
}
.wordbutton button {
  margin: 5px;
}
